

.icon-btn{
    font-size: 20px;
    font-weight: bold;
  }
  body {
      background: url(../../image/fondo.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size:  auto cover;
  }
  a {
    text-decoration: none;
  }
  .table {
    display: table;
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  
  header {
    padding: 0px 10px;
    background: $color-primary;
    .header-nav {
      width: 100%;
      height: 80px;
  
      .brand-logo {
        font-size: 3em;
        font-family: Reenie Beanie;
        color: black;
        font-weight: bold;
      }
      .right,
      .right2 {
        ul {
          float: right;
          li {
            padding: 0px 5px;
          }
        }
      }
    }
  
  
    .ul-movil {
      display: none;
    }
  }
  
  .logo-in-main {
    font-family: Reenie Beanie;
    margin-top: 10%;
    font-size: 8em;
    text-align: center;
    color: #000000;
  }
  .slogan {
    font-family: Righteous;
    font-size: 18px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  p {
    height: 19px;
    text-align: center;
    font-family: Nova Round;
    font-size: 15px;
    color: #000000;
    margin: 15px auto;
  }
  
  
  .final-phrase {
    margin: 30px auto;
    font-family: Reenie Beanie;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
  }


  .ways-of-inite{
    text-align: center;
  }

  @media screen and (max-width: 600px) {

    header {
      padding: 0px 5px;
      .header-nav {
        height: 50px;
        .brand-logo {
          font-size: 1.5em;
        }
        .right {
          display: none;
        }
      }
      nav {
        display: none;
      }
  
      ul {
        display: block;
      }
    }
    .logo-in-main {
      font-size: 4em;
    }
  
  

  }
  